.venv
music_cache
*.mp4
__pycache__
*.pyc
.DS_Store
build.log
!backpacker-australia/backpacker_australia_slideshow.mp4
!hostel-to-mines/hostel_to_mines_slideshow.mp4
!female-backpacker-australia/female_backpacker_australia_slideshow.mp4
!backpacker-work-australia/backpacker_work_australia_slideshow.mp4
!french-backpackers-hostel/french_backpackers_hostel_slideshow.mp4
